<div class="container">
  <div class="jumbotron mt-3">
    <h1>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">Bienvenido, administre sus tareas pendientes
        </font>
      </font>
    </h1>
    <p class="lead">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">Aqui puede realizar seguimiento de sus tareas pendientes.</font>
      </font>
    </p>
    <a class="btn btn-lg btn-danger" href="../../components/navbar/" role="button" routerLink="/login">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">Iniciar Sesión</font>
      </font>
    </a>
  </div>
</div>